<!DOCTYPE html>
<html lang="pt-br">
    
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/css/numero_totem.css">
  </head>

  <body>
        
      {% extends "index.html" %}

        {% block content %}
            <center>
                <p> 
                    Seu numero é o:              
                </p>

                <p id="huge" ><h1>
                     {{numero}}
                </h1></p>

            </center>

        {% endblock %}

    </body>
</html>
